@charset "UTF-8";


/* ---------- Mobile navigation bar ---------- */
@media (max-width: 647px) {
	#logoDesktop {
		display: none;
	}

	#logoMobile {
		display: flex;
	}
}

@media (max-width: 953px) {
	.navbarLinks-active {
		width: 54px !important;
		padding-left: 13px;
		padding-right: 13px;
	}

	.navbarLinks-other {
		width: 54px !important;
		padding-left: 13px;
		padding-right: 13px;
	}

	.navbarLinks-text {
		display: none;
	}
}
