@charset "UTF-8";


/* ---------- Mobile navigation bar ---------- */
@media (max-width: 647px) {
	#logoDesktop {
		display: none;
	}

	#logoMobile {
		display: flex;
	}
}

@media (max-width: 953px) {
	.navbar-pageCurrent {
		width: 54px !important;
		padding-left: 13px;
		padding-right: 13px;
	}

	.navbar-page {
		width: 54px !important;
		padding-left: 13px;
		padding-right: 13px;
	}

	.navbar-page-text {
		display: none;
	}
}
