@charset "UTF-8";


/* ---------- Mobile view ---------- */

@media (max-width: 760px) {
    .container {
        max-width: 100%;
    }

    .column1 {
        flex: 0 0 auto;
        width: 100%;
    }

	.column2 {
        flex: 0 0 auto;
        width: 100%;
    }

    .column3 {
        flex: 0 0 auto;
        width: 100%;
    }

	.column4 {
	    flex: 0 0 auto;
	    width: 50%;
	}

	.column5 {
	    flex: 0 0 auto;
	    width: 50%;
	}

	.column2-30 {
	    flex: 0 0 auto;
	    width: 30%;
	}

	.column2-70 {
	    flex: 0 0 auto;
	    width: 70%;
	}

    .column2-home {
        flex: 0 0 auto;
        width: 100%;
    }

	.home-grid {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}

	.card {
		height: 31vw;
	}

	.card-gradient {
		margin-top: calc(31vw - 5rem);
	}

	.grid {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}


/* ---------- Tablet view ---------- */

@media (min-width: 760.1px) and (max-width: 1120px) {
    .container {
        max-width: 760px;
    }

    .column1 {
        flex: 0 0 auto;
        width: 100%;
    }

    .column2 {
        flex: 0 0 auto;
        width: 50%;
    }

    .column3 {
        flex: 0 0 auto;
        width: 50%;
    }

	.column4 {
	    flex: 0 0 auto;
	    width: 50%;
	}

	.column5 {
	    flex: 0 0 auto;
	    width: 33.33%;
	}

	.column2-30 {
	    flex: 0 0 auto;
	    width: 30%;
	}

	.column2-70 {
	    flex: 0 0 auto;
	    width: 70%;
	}

    .column2-home {
        flex: 0 0 auto;
        width: 100%;
    }

	.home-grid {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}

	.card {
		height: 14.9rem;
	}

	.card-gradient {
		margin-top: 9.9rem;
	}

	.grid {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}


/* ---------- Tablet view ---------- */

@media (min-width: 1120.1px) and (max-width: 1460px) {
	.container {
        max-width: 1120px;
    }

    .column1 {
        flex: 0 0 auto;
        width: 100%;
    }

    .column2 {
        flex: 0 0 auto;
        width: 50%;
    }

    .column3 {
        flex: 0 0 auto;
        width: 50%;
    }

	.column4 {
	    flex: 0 0 auto;
	    width: 33%;
	}

	.column5 {
	    flex: 0 0 auto;
	    width: 33.33%;
	}

	.column2-30 {
	    flex: 0 0 auto;
	    width: 30%;
	}

	.column2-70 {
	    flex: 0 0 auto;
	    width: 70%;
	}

    .column2-home {
        flex: 0 0 auto;
        width: 50%;
    }

	.card {
		height: 14.7rem;
	}

	.card-gradient {
		margin-top: 9.7rem;
	}

	.grid {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}


/* ---------- Desktop view ---------- */

@media (min-width: 1460.1px) {
	.container {
        max-width: 1460px;
    }

    .column1 {
        flex: 0 0 auto;
        width: 100%;
    }

    .column2 {
        flex: 0 0 auto;
        width: 50%;
    }

    .column3 {
        flex: 0 0 auto;
        width: 33.33%;
    }

	.column4 {
	    flex: 0 0 auto;
	    width: 25%;
	}

	.column5 {
	    flex: 0 0 auto;
	    width: 20%;
	}

	.column2-30 {
	    flex: 0 0 auto;
	    width: 30%;
	}

	.column2-70 {
	    flex: 0 0 auto;
	    width: 70%;
	}

    .column2-home {
        flex: 0 0 auto;
        width: 50%;
    }

	.card {
		height: 14.5rem;
	}

	.card-gradient {
		margin-top: 9.5rem;
	}

	.grid {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}
