@charset "UTF-8";

html {
  height: 100vh;
}

body {
  height: 300vh;
  background-color: #8c7acb;
}

canvas {
  position: fixed;
  left: calc(100vw - 500px);
  top: calc(100vh - 600px);
  width: 500px;
  height: 600px;
}
