@charset "UTF-8";


/* ---------- Root elements ---------- */

html {
	scroll-behavior: smooth;
}

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    opacity: 100%;
    margin: 0;
    min-width: 360px;
    background-color: #3c3b45;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    line-height: 1.5;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
	height: 100%;
	scroll-padding-top: calc(4.5rem - 1px);
}

a {
    color: inherit;
    text-decoration: none;
}

iframe {
	border: 0;
}

p {
	color: #ffffff;
	margin-top: 0;
	margin-bottom: 0;
}

span {
	color: #ffffff;
}

img {
    user-select: none;
    pointer-events: none;
}

section {
	padding-bottom: 6rem;
}

::selection {
    background: #fff4;
}

.navbar > .container,
.navbar > .container-fluid {
	display: flex;
	flex-wrap: inherit;
	align-items: center;
}

.container,
.container-fluid {
	width: 100%;
	padding-left: var(--bs-gutter-x, 0.75rem);
	padding-right: var(--bs-gutter-x, 0.75rem);
	margin-left: auto;
	margin-right: auto;
}

.row {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	display: flex;
	flex-wrap: wrap;
	margin-left: calc(var(--bs-gutter-x) * -.10);
	margin-right: calc(var(--bs-gutter-x) * -.10);
}

.section-heading {
	color: #ffffffc0;
    font-weight: 600;
	font-size: 2rem;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

.home-bg {
    height: 50vh;
    padding-top: 25vh;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    user-select: text;
    pointer-events: none;
}

.pageBanner {
    height: 20rem;
	margin-bottom: 4rem;
    flex-direction: column;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pageBanner-fade {
    width: 100%;
    height: 100%;
    display: flex;
	flex-direction: column;
    background: linear-gradient(to bottom, #3c464d20, #3c464dff);
}

.pageBanner-fadeBlog {
    width: 100%;
    height: 100%;
    display: flex;
    background: linear-gradient(to bottom, #3b445e20, #3b445eff);
}

.pageBanner-title {
	text-align: center;
    font-size: 2.5rem;
	font-weight: 700;
}

.pageBanner-subtitle {
	text-align: center;
	opacity: 67%;
}



/* ---------- Social media ---------- */

.social {
    display: flex;
	border-style: solid;
	border-width: 2px !important;
	border-color: #ffffff80;
    border-radius: 0.5rem;
    width: 116px;
    height: 54px;
	padding: 2px;
    overflow: hidden;
    margin-left: auto;
    margin-right: 13px;
    user-select: none;
}

.social-link {
    background-color: #ffffff00;
    border-radius: 0.3rem;
    width: 54px;
    height: 46px;
	user-select: none;
    transition: all 0.1s ease-out;
}

.social-linkDisabled {
    background-color: #ffffff00;
    border-radius: 0.3rem;
    width: 54px;
    height: 46px;
	opacity: 50%;
}

.social-image {
	filter: invert();
	opacity: 50%;
    width: 54px;
    height: 46px;
	padding-top: 7px;
	padding-bottom: 7px;
    user-select: none;
    pointer-events: auto !important;
    transition: all 0.1s ease-out;
}

.social-link:hover {
    background-color: #ffffff40;
}

.social-link:hover .social-image {
    opacity: 100%;
}


/* ----- New ----- */

.navbar-divider {
	width: 100%;
	height: 2px;
	background-color: #707070;
}

.divider {
	width: 100%;
	height: 2px;
	margin-bottom: 1rem;
	background-color: #ffffff80;
}

.disabled {
	opacity: 50%;
	pointer-events: none;
	user-select: none;
}

/* ----- Navbar ----- */

.navbar {
    display: flex;
    flex-direction: column;
    height: auto;
    background-image: linear-gradient(to bottom, #525252, #2a2a2a);
}

.navbarLogo {
	height: 80px;
	opacity: 50%;
	transition: opacity 0.1s ease-out, background-color 0.1s ease-out;
}

.navbarLogo:hover {
	opacity: 100%;
    background-color: #ffffff36;
}

.navbarLogo-image {
	width: auto;
	height: 100%;
	filter: invert();
	padding: 1.25rem;
	user-select: none;
}

#calvinhoggDesktop {
	display: flex;
}

#calvinhoggMobile {
	display: none;
}

.navbarLinks {
	margin-left: 13px;
    display: flex;
    width: auto;
	height: 54px;
	user-select: none;
}

.navbarLinks-active {
	display: flex;
	padding: 13px;
	padding-left: 20px;
	padding-right: 20px;
    height: 100%;
}

.navbarLinks-other {
	display: flex;
	padding: 13px;
	padding-left: 20px;
	padding-right: 20px;
	height: 100%;
	border-radius: 0.5rem;
	opacity: 50%;
	background-color: #ffffff00;
	transition: opacity 0.1s ease-out, background-color 0.1s ease-out;
}

.navbarLinks-other:hover {
	opacity: 100%;
	background-color: #ffffff40;
}

.navbarLinks-image {
	filter: invert();
}

.navbarLinks-text {
	font-weight: 500;
	line-height: 28px;
	margin-left: 12px;
	color: #ffffff;
	opacity: 100%;
	user-select: none;
}

.textLink {
	color: #5c88e3;
	user-select: none;
	cursor: pointer;
	font-weight: 700;
	padding: 0.5rem 0.75rem 0.5rem 0.75rem;
	border-radius: 0.67rem;
	transition: all 0.1s ease-out;
	width: auto;
	height: auto;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	display: inline-flex;
	flex-direction: row;
}

.textLink:hover {
	background-color: #5c88e330;
}

.textLink-icon {
	width: 1.5rem;
	height: 1.5rem;
	display: flex;
	float: center;
	margin-top: auto;
	margin-bottom: auto;
	filter: invert(76%) sepia(47%) saturate(4062%) hue-rotate(197deg) brightness(108%) contrast(102%);
}

.textLink-text {
	color: #a3b3ff;
	line-height: 1.6rem;
	font-weight: 700;
	width: auto;
	display: flex;
	flex-direction: column;
	height: auto;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.objectLink {
	height: 6.2rem;
	padding-left: 1rem;
	padding-right: 1rem;
	border-radius: 1rem;
	background-color: #ffffff00;
	display: flex;
	transition: background-color 0.1s ease-out;
	user-select: none;
}

.objectLink:hover {
	background-color: #ffffff30;
}

.objectLink-icon {
	margin-top: auto;
	margin-bottom: auto;
	height: 3.5rem;
	display: flex;
	margin-right: 0.5rem;
}

.footer {
    width: auto;
    height: 24px;
    text-align: right;
	padding-right: 1rem;
	padding-bottom: 2rem;
}

.footer-text {
    font-size: 0.8rem;
    color: #ffffff60;
}



/* --- WORKBOOK --- */

.buttonWorkbook {
	height: 4.4rem;
	padding: 0.9rem;
	display: flex;
	transition: all 0.1s ease-out;
}

.buttonWorkbook:hover {
	background-color: #5c6276;
}

.buttonWorkbook-textDiv {
	display: flex;
	flex-direction: column;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 1rem;
}

.buttonWorkbook-text1 {
	line-height: 1.2rem;
}

.buttonWorkbook-text2 {
	line-height: 1.2rem;
}



.home-background {
	width: 100vw;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.home-about {
	display: grid;
	font-size: 0.9rem;
	column-gap: 1.5rem;
}

.home-about-image {
	width: 100%;
	box-shadow: 0rem 0.1rem 0.4rem #00000050;
	border-radius: 0.5rem;
}

#home-about-imageStandard {
	display: grid;
}

#home-about-imageNarrow {
	display: none;
}

.home-grid {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	column-gap: 3rem;
}

.home-portal {
	height: 7rem;
	background-color: #000000;
	box-shadow: 0rem 0.1rem 0.4rem #00000050;
	border-radius: 0.5rem;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	filter: saturate(0);
	cursor: pointer;
	transition: filter 0.1s ease-out;
}

.home-portal:hover {
	filter: saturate(1);
}

.home-portal-gradient {
	display: flex;
	flex-direction: row;
	border-radius: 0.5rem;
	padding: 2rem;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, #000000ff 8%, #00000000 75%);
}

.home-portal-icon {
	height: 100%;
	filter: invert();
}

.home-portal-text {
	margin-left: 1.25rem;
	line-height: 3rem;
	font-size: 1.5rem;
	font-weight: 500;
	user-select: none;
}

.form-heading {
	margin-bottom: 0.25rem;
	font-weight: 500;
}

.form-entry {
	box-shadow: 0rem 0.1rem 0.4rem #00000050;
	background-color: #202020;
	border-style: solid;
	border-width: 1px;
	border-color: #808080;
	width: 100%;
	cursor: text;
	margin-bottom: 1.5rem;
	padding: 0.67rem;
	padding-left: 0.75rem;
	transition: border-color 0.1s ease-out;
}

.form-entry:hover {
	border-color: #e0e0e0;
}

.form-text {
	font-size: 0.9rem;
	font-weight: 500;
	color: #c0c0c0;
}

.form-send {
	display: flex;
	padding: 10px;
	padding-left: 24px;
	padding-right: 24px;
    border-radius: 0.5rem;
	margin-left: auto;
    height: 100%;
	overflow: hidden;
	cursor: pointer;
	opacity: 50%;
    background-color: #ffffff00;
	transition: opacity 0.1s ease-out, background-color 0.1s ease-out;
}

.form-send:hover {
	opacity: 100%;
    background-color: #ffffff36;
}

.form-send-text {
	font-weight: 500;
	color: #fff;
	opacity: 100%;
	overflow: hidden;
	user-select: none;
}

.card {
	position: relative;
	height: 14.5rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0rem 0.1rem 0.15rem #00000050;
	background-color: #00000050;
    background-position: center;
    background-size: cover;
    margin-bottom: 0.4rem;
	cursor: pointer;
	transform: scale(0.96);
	transition: transform 0.1s ease-out, box-shadow 0.1s ease-out;
}

.card-glare {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 0.5rem;
	opacity: 0%;
	transition: all 0.1s ease-out;
}

.card-gradient {
	height: 5rem;
	margin-top: 9.5rem;
	padding-top: 2rem;
	background: linear-gradient(to bottom, #00000000, #00000070);
	border-radius: 0 0 0.5rem 0.5rem;
}

.card-text {
	line-height: 3rem;
	margin-left: 1rem;
	font-weight: 600;
	text-shadow: 0rem 1px 4px #000000d0;
	user-select: none;
}

.card:hover {
	transform: scale(1);
	z-index: 10;
    box-shadow: 0rem 0.2rem 1rem #00000070;
}

.card:hover .card-glare {
	opacity: 70%;
}










.blog-card {
	display: flex;
	user-select: none;
	height: 7rem;
	padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0rem 0.1rem 0.4rem #00000050;
	background-color: #4c5777;
	transition: background-color 0.1s ease-out;
}

.blog-card:hover {
	background-color: #5b688c;
}

.blog-card-image {
	height: 100%;
    border-radius: 0.5rem;
}

.blog-card-text {
	margin-top: auto;
	margin-bottom: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

.blog-card-text-name {
	font-size: 1.3rem;
	line-height: 1.2;
	margin-bottom: 0.25rem;
}

.blog-card-text-date {
	font-size: 0.9rem;
	color: #ffffffa0;
}

.blog-archive {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	width: 100%;
	height: 30rem;
	background-color: #212636;
}

.blog-entry {
	width: 100%;
	padding: 1rem;
	background-color: #4c577700;
	transition: background-color 0.1s ease-out;
}

.blog-entry:hover {
	background-color: #4c5777b0;
}

.blog-entry-text-name {
	font-size: 1.1rem;
	line-height: 1.1;
	margin-bottom: 0.25rem;
}

.blog-entry-text-date {
	font-size: 0.9rem;
	color: #ffffffb0;
}




.blog-card2 {
	border-radius: 0.5rem;
	padding: 0.75rem;
	background-color: #85a2f200;
	transition: background-color 0.1s ease-out;
}

.blog-card2:hover {
	background-color: #85a2f240;
}

.blog-card2-name {
	font-size: 1.2rem;
}

.blog-card2-date {
	color: #ffffffa0;
	font-size: 0.9rem;
}













::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}

::-webkit-scrollbar-thumb {
	background-color: #ffffff70;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-track-piece {
	background-color: #ffffff30;
}

::-webkit-scrollbar-corner {
	width: 0px;
	height: 0px;
}

::-webkit-resizer {
	width: 0px;
	height: 0px;
}
