@charset "UTF-8";

:root {
	--colour-teal: #3c464d;
	--colour-blueLight: #535f82;
	--colour-blueDark: #3b445e;

	--shadow-small: 0rem 0.1rem 0.15rem #00000050;
	--shadow-large: 0rem 0.2rem 1rem #000000a0;
}

/* ---------- Root elements ---------- */

html {
	scroll-behavior: smooth;
	height: 100%;
	scroll-padding-top: calc(4.5rem - 1px);
}

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 360px;
    background-color: var(--colour-teal);
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    line-height: 1.5;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
    color: inherit;
    text-decoration: none;
}

iframe {
	border: 0;
}

p {
	color: #ffffff;
	margin-top: 0;
	margin-bottom: 0;
}

span {
	color: #ffffff;
}

img {
    user-select: none;
    pointer-events: none;
}

section {
	padding-bottom: 6rem;
}

::selection {
    background: #fff4;
}



.container,
.container-fluid,
.containerHome {
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-left: auto;
	margin-right: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.grid {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	column-gap: 0.75rem;
	row-gap: 0.75rem;
}

.section-heading {
	color: #ffffffc0;
    font-weight: 600;
	font-size: 2rem;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

.home-bg {
    height: 50vh;
    padding-top: 25vh;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    user-select: text;
    pointer-events: none;
}

.pageBanner {
    height: 20rem;
	margin-bottom: 4rem;
    flex-direction: column;
	background-color: #7e888f;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pageBanner-fade {
    width: 100%;
    height: 100%;
    display: flex;
	flex-direction: column;
    background: linear-gradient(to bottom, #3c464d20, #3c464dff);
}

.pageBanner-fadeBlog {
    width: 100%;
    height: 100%;
    display: flex;
    background: linear-gradient(to bottom, #3b445e20, #3b445eff);
}

.pageBanner-title {
	text-align: center;
    font-size: 2.5rem;
	font-weight: 700;
}

.pageBanner-subtitle {
	text-align: center;
	opacity: 67%;
}



.divider {
	width: 100%;
	height: 2px;
	margin-bottom: 1rem;
	background-color: #ffffff80;
}

.disabled {
	opacity: 50%;
	pointer-events: none;
	user-select: none;
}







.footer {
	display: flex;
    width: auto;
	padding: 0.5rem;
	padding-left: 5rem;
	height: 3rem;
    font-size: 0.8rem;
    opacity: 50%;
}

.footer-text {
	width: 100%;
	line-height: 1rem;
	text-align: right;
	margin-top: auto;
	margin-bottom: 0;
}

.home-about,
.home-about2 {
	display: grid;
	column-gap: 1.25rem;
	grid-template-columns: 33% auto;
}

.home-about {
	display: grid;
}

.home-about2 {
	display: block;
}

.home-about-image,
.home-about-image2 {
	width: 100%;
	height: 100%;
    box-shadow: var(--shadow-small);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 0.5rem;
}

.home-about-image {
	display: block;
}

.second-about-paragraph-Wide {
	display: block;
}

.second-about-paragraph-Narrow {
	display: none;
}

.home-about-image2 {
	display: none;
}

.home-grid {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	column-gap: 3rem;
}

.home-portal {
	height: 100%;
	margin-bottom: 0;
	background-color: #000000;
    box-shadow: var(--shadow-small);
	border-radius: 0.5rem;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	filter: saturate(0);
	cursor: pointer;
	transition: filter 0.2s;
}

.home-portal:hover {
	filter: saturate(1.33);
}

.home-portal-gradient {
	display: flex;
	border-radius: 0.5rem;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, #000000ff 8%, #00000000 75%);
}

.home-portal-icon {
	height: 100%;
	filter: invert();
}

.home-portal-text {
	margin-left: 1.25rem;
	line-height: 3rem;
	font-size: 1.5rem;
	font-weight: 500;
	user-select: none;
}

.card,
.cardAlt,
.cardSketch {
	position: relative;
	height: 14.5rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: var(--shadow-small);
	background-color: #556570;
    background-position: center;
    background-size: cover;
	cursor: pointer;
	transform: scale(1);
	transition: transform 0.18s ease-out, box-shadow 0.18s ease-out;
}

.cardAlt {
	cursor: default;
	pointer-events: none;
}

.cardSketch {
	background-color: #ebebeb;
	cursor: default;
	pointer-events: none;
}

.card-glare {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 0.5rem;
	opacity: 0%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../assets/images/portfolio-glare.png');
	transition: all 0.18s ease-out;
}

.card-gradient {
	height: 5rem;
	margin-top: 9.5rem;
	padding-top: 2rem;
	background: linear-gradient(to bottom, #00000000, #00000090);
	border-radius: 0 0 0.5rem 0.5rem;
}

.card-text {
	line-height: 3rem;
	margin-left: 1rem;
	font-weight: 600;
	text-shadow: 0rem 1px 4px #000000d0;
	user-select: none;
}

.card:hover {
	transform: scale(1.04);
	z-index: 10;
    box-shadow: var(--shadow-large);
	transition: transform 0.08s ease-out, box-shadow 0.08s ease-out;
}

.card:hover .card-glare {
	opacity: 70%;
	transition: all 0.08s ease-out;
}

.viewportHome {
	display: flex;
	min-height: calc(496px + 6rem);
	height: calc(100vh - 8.2rem);
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.contentHome {
	padding-left: 2rem;
	padding-right: 2rem;
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	grid-template-rows: repeat(1, minmax(0, 1fr));
	column-gap: 5rem;
	row-gap: 0;
	margin: auto;
}

.containerHome {
	display: flex;
	flex-direction: column;
	width: 700px;
	padding-bottom: 1rem;
}

.software {
	padding-top: 2rem;
	padding-bottom: 2rem;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(8, minmax(0, 1fr));
}

.software-icon {
	filter: invert();
	opacity: 50%;
	width: 100%;
    height: 36px;
    transition: all 0.1s ease-out;
}

.portal-grid {
	height: 100%;
	display: grid;
	grid-template-rows: repeat(3, minmax(0, 1fr));
	row-gap: 1rem;
}

::-webkit-scrollbar {
	width: 3px;
	height: 3px;
}

::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}

::-webkit-scrollbar-thumb {
	background-color: #ffffff70;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-track-piece {
	background-color: #ffffff30;
}

::-webkit-scrollbar-corner {
	width: 0px;
	height: 0px;
}

::-webkit-resizer {
	width: 0px;
	height: 0px;
}







































.navbar > .container,
.navbar > .container-fluid {
	display: flex;
	flex-wrap: inherit;
	align-items: center;
	padding: 0;
}

.navbar {
    display: flex;
    flex-direction: column;
    height: auto;
    background-image: linear-gradient(to bottom, #525252, #2a2a2a);
}

.navbar-section1 {
	height: 80px;
	opacity: 50%;
	transition: opacity 0.1s ease-out, background-color 0.1s ease-out;
}

.navbar-section1:hover {
	opacity: 100%;
    background-color: #ffffff36;
}

.navbar-logo {
	height: 100%;
	padding: 1rem;
	filter: invert();
	user-select: none;
}

#logoDesktop {
	width: 305px !important;
	display: flex;
}

#logoMobile {
	width: 101px !important;
	display: none;
}

.navbar-section2 {
	margin-left: 1rem;
    display: flex;
    width: auto;
	height: 54px;
	user-select: none;
}

.navbar-page,
.navbar-pageCurrent {
	display: flex;
	padding: 13px;
	padding-left: 20px;
	padding-right: 20px;
	height: 100%;
	border-radius: 0.5rem;
	opacity: 50%;
	background-color: #ffffff00;
	transition: opacity 0.1s ease-out, background-color 0.1s ease-out;
}

.navbar-pageCurrent {
	pointer-events: none;
    opacity: 100%;
}

.navbar-page:hover {
	opacity: 100%;
	background-color: #ffffff40;
}

.navbar-page-image {
	width: 100%;
	height: 100%;
	filter: invert();
}

.navbar-page-text {
	font-weight: 500;
	line-height: 28px;
	margin-left: 12px;
	color: #ffffff;
	opacity: 100%;
	user-select: none;
}

.navbar-section3 {
    display: flex;
	outline-style: solid;
	outline-width: 2px;
	outline-color: #ffffff80;
    width: 112px;
    height: 50px;
	padding: 2px;
	border-radius: 5px;
    overflow: hidden;
    margin-left: auto;
    margin-right: 13px;
    user-select: none;
}

.navbar-social {
    background-color: #ffffff00;
    width: 50%;
    height: 100%;
	border-radius: 3.5px;
	user-select: none;
    transition: all 0.1s ease-out;
}

.navbar-social-image {
	filter: invert();
	opacity: 50%;
    width: 100%;
    height: 100%;
	padding-top: 6px;
	padding-bottom: 6px;
    user-select: none;
    pointer-events: auto !important;
    transition: all 0.1s ease-out;
}

.navbar-social:hover {
    background-color: #ffffff40;
}

.navbar-social:hover .navbar-social-image {
    opacity: 100%;
}

.navbar-divider {
	width: 100%;
	height: 2px;
	background-color: #707070;
}
