@charset "UTF-8";

@media (max-width: 918px) {
	.navbar-pageCurrent {
		padding: 14px;
	}

	.navbar-page {
		padding: 14px;
	}

	.navbar-page-text {
		display: none;
	}
}

@media (max-width: 1122px) {
	#logoDesktop {
		display: none;
	}

	#logoMobile {
		display: flex;
	}
}
