@charset "UTF-8";

@media (max-width: 654px) {
	.containerHome {
		width: 100%;
	}

	.home-about {
		display: block;
	}

	.home-about2 {
		display: grid;
	}

	.home-about-image {
		display: none;
	}

	.home-about-image2 {
		display: block;
	}

	.second-about-paragraph-Wide {
		display: none;
	}

	.second-about-paragraph-Narrow {
		display: block;
	}
}

@media (max-width: 1480px) {
	.viewportHome {
		height: auto;
	}

	.contentHome {
		padding-top: 2rem;
		padding-bottom: 1rem;
		padding-left: 0;
		padding-right: 0;
		display: flex;
		flex-direction: column;
		grid-template-columns: repeat(1, minmax(0, 1fr));
		grid-template-rows: repeat(2, minmax(0, 1fr));
		column-gap: 0;
	}

	.containerHome {
		height: auto;
		margin-bottom: 2rem;
	}

	.portal-grid {
		display: flex;
		flex-direction: column;
	}

	.home-portal {
		height: 7rem;
	}
}
