@charset "UTF-8";

@media (max-width: 932px) {
	.navbar-section2 {
		margin-left: auto;
	}

	.navbar-pageCurrent {
		display: none;
	}

	.navbar-page {
		display: none;
	}

	#navbar-menuButton {
		display: flex;
	}

	.navbar-page-text {
		display: none;
	}
}

@media (min-width: 968px.1px) {
	#menu {
		height: 0px !important;
	}
}

@media (max-width: 95px) {
	.navbar-pageCurrent {
		padding: 14px;
	}

	.navbar-page {
		padding: 14px;
	}

	.navbar-page-text {
		display: none;
	}
}

/* @media (max-width: 1120px) {
	#logoDesktop {
		display: none;
	}

	#logoMobile {
		display: flex;
	}
} */
