@charset "UTF-8";

@media (max-width: 600px) {
	.home-grid {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@media (max-width: 800px) {
	.home-content2 {
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 760px) {
    .container {
		width: calc(100% - 32px);
        max-width: 728px;
    }

	.card,
	.cardAlt,
	.cardSketch {
		width: calc(50vw - 20px);
		height: calc((50vw - 20px) / 1.5);
	}

	.grid {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@media (min-width: 760.1px) and (max-width: 1128px) {
    .container {
        width: 728px;
    }

	.grid {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@media (min-width: 1128.1px) and (max-width: 1496px) {
	.container {
        width: 1096px;
    }

	.grid {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

@media (min-width: 1496.1px) {
	.container {
        width: 1464px;
    }

	.grid {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}
