@charset "UTF-8";

@media (max-width: 600px) {
	.home-grid {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@media (max-width: 800px) {
	.home-content2 {
		margin-left: auto;
		margin-right: auto;
	}

	.home-content {
		background: linear-gradient(to right, #000000c0, #000000c0);
	}
}

@media (max-width: 416px) {
    .container {
        max-width: 100%;
    }

	.home-grid {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}

	.card,
	.cardAlt,
	.cardSketch {
		height: 59vw;
		min-height: 177px;
	}

	.grid {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}

	.workbook-grid {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
}

@media (min-width: 416.1px) and (max-width: 760px) {
    .container {
        max-width: 100%;
    }

	.card,
	.cardAlt,
	.cardSketch {
		height: 31vw;
	}

	.grid {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	.workbook-grid {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
}

@media (min-width: 760.1px) and (max-width: 1120px) {
    .container {
        max-width: 760px;
    }

	.card,
	.cardAlt,
	.cardSketch {
		height: 14.9rem;
	}

	.grid {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	.workbook-grid {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
}

@media (min-width: 1120.1px) and (max-width: 1460px) {
	.container {
        max-width: 1120px;
    }

	.card,
	.cardAlt,
	.cardSketch {
		height: 14.7rem;
	}

	.grid {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	.workbook-grid {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@media (min-width: 1460.1px) {
	.container {
        max-width: 1460px;
    }

	.card,
	.cardAlt,
	.cardSketch {
		height: 14.5rem;
	}

	.grid {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}

	.workbook-grid {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}
