@charset "UTF-8";

:root {
	--colour-teal: #282f36;
	--colour-blueLight: #535f82;
	--colour-blueDark: #3b445e;

	--shadow-small: 0rem 0.1rem 0.15rem #00000050;
	--shadow-medium: 0rem 0.1rem 0.67rem #000000a0;
	--shadow-large: 0rem 0.15rem 1.2rem #00000070;

	--font-regular: 'Open Sans', sans-serif;
	--font-semibold: 'Open Sans SemiBold', sans-serif;
	--font-bold: 'Open Sans Bold', sans-serif;
}

/* ---------- Root elements ---------- */

@font-face {
	font-family: "Open Sans";
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff'),
        url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: "Open Sans SemiBold";
    src: url('../fonts/OpenSans-SemiBold.eot');
    src: url('../fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
        url('../fonts/OpenSans-SemiBold.woff') format('woff'),
        url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: "Open Sans Bold";
    src: url('../fonts/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans-Bold.woff') format('woff'),
        url('../fonts/OpenSans-Bold.ttf') format('truetype');
	font-display: swap;
}

html {
	height: 100%;
}

* {
    font-family: var(--font-regular);
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--colour-teal);
    font-size: 1rem;
    line-height: 1.5;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
    color: inherit;
    text-decoration: none;
}

iframe {
	border: 0;
}

p {
	color: #ffffff;
	margin-top: 0;
	margin-bottom: 0;
}

span {
	color: #ffffff;
}

img {
    user-select: none;
    pointer-events: none;
}

section {
	padding-bottom: 6rem;
	background-color: var(--colour-teal);
}

.section-top {
	padding-top: 3rem;
}

.section-bottom {
	padding-bottom: 12rem;
}

::selection {
    background: #fff4;
}



.container,
.container-fluid,
.containerHome {
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-left: auto;
	margin-right: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.grid {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	column-gap: 0.6rem;
	row-gap: 0.6rem;
}

.section-heading {
	color: #ffffffa0;
    font-family: var(--font-regular);
	font-size: 2rem;
	line-height: 48px;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

.banner {
	width: 100%;
    height: 22rem;
	display: flex;
	position: relative;
	flex-direction: column;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.banner-gradient {
	height: 100%;
	display: flex;
	background: linear-gradient(to bottom, #282f3620, #282f36ff);
}

.banner-title {
    font-family: var(--font-bold);
	text-align: center;
    font-size: 2.5rem;
}

.banner-subtitle {
    font-family: var(--font-semibold);
	text-align: center;
	opacity: 67%;
}



.divider {
	width: 100%;
	height: 2px;
	margin-bottom: 1rem;
	background-color: #ffffff60;
}

.disabled {
	opacity: 50%;
	pointer-events: none;
	user-select: none;
}





.footer {
	display: flex;
    width: auto;
	padding: 0.5rem;
	height: 3rem;
    font-size: 0.8rem;
	background-color: var(--colour-teal);
}

.footer-text {
	width: 100%;
	color: #ffffff80;
	line-height: 1rem;
	text-align: right;
	margin-top: auto;
	margin-bottom: 0;
}

.home-portal {
	height: auto;
	margin-bottom: 0;
	background-color: #000000;
    box-shadow: var(--shadow-small);
	border-radius: 0.5rem;
	background-color: #808080;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	filter: saturate(0);
	cursor: pointer;
	transition: filter 0.2s;
}

.home-portal:hover {
	filter: saturate(1);
}

.home-portal-gradient {
	display: flex;
	border-radius: 0.5rem;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, #000000ff 8%, #00000000 75%);
}

.home-portal-icon {
	width: 100%;
	height: 100%;
	filter: invert();
}

.home-portal-text {
	margin-left: 1.25rem;
	line-height: 3rem;
    font-family: var(--font-semibold);
	font-size: 1.5rem;
	user-select: none;
}

.card,
.cardAlt,
.cardSketch {
	position: relative;
	height: 14.5rem;
    border: none;
	border-radius: 0.67rem;
    box-shadow: var(--shadow-small);
	background-color: #37434f;
    background-position: center;
    background-size: cover;
	cursor: pointer;
	transform: scale(1);
	transition: transform 0.18s ease-out, box-shadow 0.18s ease-out;
	transition-delay: 0.02s;
	transition-timing-function: cubic-bezier(0.400, 0.000, 1.000, 1.000);
}

.cardAlt {
	cursor: default;
	pointer-events: none;
}

.cardSketch {
	background-color: #ebebeb;
	cursor: default;
	pointer-events: none;
}

.card-glare {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0%;
	border-radius: 0.67rem;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../assets/images/glare.png');
	transition: all 0.18s ease-out;
	transition-delay: 0.02s;
	transition-timing-function: cubic-bezier(0.400, 0.000, 1.000, 1.000);
}

.card-gradient {
	display: flex;
	height: 100%;
	border-radius: 0.67rem;
	background: linear-gradient(to bottom, #00000000 40%, #00000080);
}

.card-text {
    font-family: var(--font-semibold);
	margin-top: auto;
	margin-left: 0.9rem;
	margin-bottom: 0.9rem;
	line-height: 1;
	text-shadow: 0rem 1px 4px #000000d0;
	user-select: none;
}

.card:hover {
	transform: scale(1.03);
	z-index: 10;
    box-shadow: var(--shadow-large);
	transition: transform 0.08s ease-out, box-shadow 0.08s ease-out;
}

.card:hover .card-glare {
	opacity: 70%;
	transition: all 0.08s ease-out;
}

.viewportHome {
	display: flex;
	flex-direction: column;
	min-height: calc(496px + 6rem);
	height: calc(100vh - 81px);
}

.contentHome {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 1rem;
	padding-right: 1rem;
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	grid-template-rows: repeat(1, minmax(0, 1fr));
	column-gap: 3rem;
	margin: auto;
}

.containerHome {
	display: flex;
	flex-direction: column;
	width: 650px;
	height: 500px;
	padding-bottom: 1rem;
}

.software {
	width: 100%;
	display: grid;
	padding-top: 1rem;
	padding-bottom: 1rem;
	grid-template-columns: repeat(8, minmax(0, 1fr));
}

.software-icon {
	filter: invert();
	opacity: 50%;
	width: 100%;
    height: 36px;
    transition: all 0.1s ease-out;
}

.portal-grid {
	height: 100%;
	display: grid;
	grid-template-rows: repeat(3, minmax(0, 1fr));
	row-gap: 0.67rem;
}

::-webkit-scrollbar {
	background-color: #ffffff30;
	width: 3px;
	height: 3px;
}

::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}

::-webkit-scrollbar-thumb {
	background-color: #ffffff70;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-track-piece {
}

::-webkit-scrollbar-corner {
	width: 0px;
	height: 0px;
}

::-webkit-resizer {
	width: 0px;
	height: 0px;
}







































#navbar > .container,
#navbar > .container-fluid {
	height: 80px;
	padding: 0px;
	display: flex;
	box-shadow: var(--shadow-medium);
	flex-wrap: inherit;
	align-items: center;
	z-index: 100;
    background-image: linear-gradient(to bottom, #525252, #2a2a2a);
}

#navbar {
	height: 81px;
    display: flex;
    flex-direction: column !important;
}

.navbar-section1 {
	height: 80px;
	opacity: 50%;
	transition: opacity 0.1s ease-out, background-color 0.1s ease-out;
}

.navbar-section1:hover {
	opacity: 100%;
    background-color: #ffffff30;
}

.navbar-logo {
	height: 100%;
	padding: 1rem;
	filter: invert();
	user-select: none;
}

#logoDesktop {
	width: 305px !important;
	display: flex;
}

#logoMobile {
	width: 101px !important;
	display: none;
}

.navbar-section2 {
	background-color: #f005;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	user-select: none;
    display: flex;
    width: auto;
	height: 54px;
}

.navbar-page,
.navbar-pageCurrent {
	display: flex;
	padding: 13px;
	padding-left: 20px;
	padding-right: 20px;
	width: auto;
	height: 100%;
	border-radius: 0.5rem;
	opacity: 50%;
	background-color: #ffffff00;
	transition: opacity 0.1s ease-out, background-color 0.1s ease-out;
}

.navbar-pageCurrent {
	pointer-events: none;
    opacity: 100%;
}

.navbar-page:hover {
	opacity: 100%;
	background-color: #ffffff30;
}

.navbar-page-image {
	width: 100%;
	height: 100%;
	filter: invert();
}

.navbar-page-text {
    font-family: var(--font-semibold);
	line-height: 28px;
	margin-left: 12px;
	color: #ffffff;
	opacity: 100%;
	user-select: none;
}

.navbar-section3 {
    display: flex;
	outline-style: solid;
	outline-width: 2px;
	outline-color: #a0a0a0;
    width: 112px;
    height: 50px;
	padding: 2px;
	border-radius: 5px;
    overflow: hidden;
    margin-left: auto;
    margin-right: 13px;
    user-select: none;
}

.navbar-social {
    background-color: #ffffff00;
    width: 50%;
    height: 100%;
	border-radius: 3.5px;
	user-select: none;
    transition: all 0.1s ease-out;
}

.navbar-social-image {
	filter: invert();
	opacity: 50%;
    width: 100%;
    height: 100%;
	padding-top: 6px;
	padding-bottom: 6px;
    user-select: none;
    pointer-events: auto !important;
    transition: all 0.1s ease-out;
}

.navbar-social:hover {
    background-color: #ffffff30;
}

.navbar-social:hover .navbar-social-image {
    opacity: 100%;
}

.navbar-divider {
	width: 100%;
	height: 1px;
	z-index: 100;
	background-color: #686868;
	/* background: linear-gradient(to right, #b0269e, #e78d17); */
}
