@charset "UTF-8";

#navbar > #navbarContainer {
	height: 80px;
	display: flex;
	flex-wrap: inherit;
	align-items: center;
	box-shadow: var(--shadow-navbar);
	z-index: 100;
    background-image: linear-gradient(to bottom, #525252, #2a2a2a);
}

#navbar {
	height: auto;
    display: flex;
    flex-direction: column !important;
}

.navbar-logo {
	display: flex;
	width: 69px;
	height: 48px;
	margin-left: 1rem;
	user-select: none;
	filter: invert();
}

.navbar-section2 {
	padding-left: 1rem;
	padding-right: 1rem;
	user-select: none;
    display: flex;
    width: auto;
	height: 54px;
}

.navbar-page,
.navbar-pageCurrent {
	display: flex;
	padding: 14px;
	padding-left: 20px;
	padding-right: 20px;
	width: auto;
	height: 100%;
	border-radius: 0.5rem;
	opacity: 50%;
	background-color: #ffffff00;
	transition: opacity 0.05s ease-out, background-color 0.05s ease-out;
}

.navbar-pageCurrent {
	pointer-events: none;
    opacity: 100%;
}

.navbar-page:hover {
	opacity: 100%;
	background-color: #ffffff30;
}

.navbar-page-image {
	width: 26px;
	height: 26px;
	filter: invert();
}

.navbar-page-text {
    font-family: var(--font-semibold);
	line-height: 26px;
	margin-left: 13px;
	color: #ffffff;
	opacity: 100%;
	user-select: none;
}

.navbar-divider {
	width: 100%;
	height: 1px;
	z-index: 100;
	background-color: #686868;
}


/* ---------- Mobile view ---------- */

#navbar-menuButton {
	display: none;
 	padding: 12px;
	width: 54px;
	height: 100%;
	border-radius: 0.5rem;
	opacity: 50%;
	background-color: #ffffff00;
	transition: opacity 0.05s ease-out, background-color 0.05s ease-out;
}

#navbar-menuButton-image {
	width: 30px;
	height: 30px;
	filter: invert();
}

#menu {
	background-color: #303030;
	min-width: var(--min-width);
	width: 100%;
	height: 0px;
	box-shadow: var(--shadow-none);
	z-index: 50;
	position: absolute;
	top: 81px;
	overflow: hidden;
	transition: all 0.25s cubic-bezier(.17,.12,.37,.97);
}

.hovered {
	opacity: 100% !important;
	background-color: #ffffff30 !important;
}

.menu-page,
.menu-pageCurrent {
	display: flex;
	padding: 15px;
	height: 60px;
	opacity: 40%;
	background-color: #ffffff00;
	transition: opacity 0.05s ease-out, background-color 0.05s ease-out;
}

.menu-pageCurrent {
	pointer-events: none;
    opacity: 100%;
}

.menu-page:hover {
	opacity: 100%;
	background-color: #ffffff20;
}

.menu-page-image {
	width: 30px;
	height: 30px;
	padding: 1px;
	filter: invert();
}

.menu-page-text {
    font-family: var(--font-semibold);
	line-height: 30px;
	margin-left: 12px;
	color: #ffffff;
	opacity: 100%;
	user-select: none;
}

.menu-divider {
	width: auto;
	height: 1px;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	background-color: #505050;
}
