@charset "UTF-8";

.workbook-name {

}

.workbook-date {

}

.workbook-heading {
	font-size: 1.6rem;
	font-family: var(--font-semibold);
	margin-bottom: 8px;
}

.workbook-paragraph {
	color: #ffffffc0;
	margin-bottom: 50px;
}

.workbook-image {
	width: 100%;
}
